body {
	margin: 0;
	padding: 0;
}

#geral {
	margin: 0 auto;
}

#barra {
	text-align: right;
	padding: 5px;
}

#barra span {
	padding-right: 5px;
}

#cabecalho {
	padding: 10px;
	background-color: #2e4a90;
}

#logo {
	background-image: url("../images/logo_ftec_base.png");
	background-repeat: no-repeat;
	height: 48px;
	width: 140px;
}

#titulo {
	padding: 10px;
	margin-top: 10px;
	border: 1px solid black;
	padding-left: 100px;
}

#mensagem {
	color: red;
	text-align: center;
	padding: 10px;
}

#corpo {
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid black;
	padding-left: 100px;
}

#corpo label {
	display: inline-block;
	width: 100px;
}

#corpo .button {
	margin-left: 105px;
}

#rodape {
	color: white;
	text-align: center;
	padding: 10px;
	background-color: #2e4a90;
}